﻿.btn-row {
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    display: inline-block;
    padding: 10px;
}

.rowList {
    background: url('../images/architecture/images-List.png');
    height: 14px;
    background-repeat: repeat-x;
    background-position: 0px -16px;
}

    .rowList:hover {
        background-position: 0 2px;
    }

.dots {
    background: url('../images/architecture/dots.png');
    height: 15px;
    background-repeat: repeat-x;
    background-position: 0px -18px;
}

    .dots:hover {
        background-position: 0 0px;
    }

.icon {
    vertical-align: middle;
    text-align: left;
    text-indent: -999em;
    overflow: hidden;
}
