
/*------------------------------------------------------------------
[Master Stylesheet]
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Table of contents]
1. CSS Reset
2. Layout
  2-1. Headers                  / #beau-header
        2-1-1.  Main Nav            / div.main-menu
        2-1-2.  Mobile Nav            / #mobile-menu-container
    2-1-3.  Title Area            / .beau-page-title
  2-2. Page Layout              / #main-container
    2-2-1.  Main Bar            / section.beau-mainbar
    2-2-2.  Sidebar             / aside.beau-sidebar
  2-3. Blog Lists
    2-3-1.  Blog List One-Column  / div.blog-list-style-onecolumn
    2-3-2.  Blog List Masonry     / div.blog-list-style-masonry
    2-3-3.  Blog List Fitrows   / div.blog-list-style-fitrows
  2-4. Blog Detail              / article.post
    2-4-1.  Featured            / .beau-article-featured-wrapper
    2-4-2.  Content             / .beau-article-contents
    2-4-3.  Author              / .beau-article-author
    2-4-4.  Comments            / section#comments.comments-area
    2-4-5.  Respond             / #respond.comment-respond
    2-4-6.  Navigation          / .beau-post-nav-links (next/prev post links)
  2-5. Portfolio
    2-5-1.  Grid Layout         / div.beau-portfolio-grid-list-wrapper
    2-5-2.  Masonry Layout        / div.beau-portfolio-masonry-wrapper
    2-5-4.  Categories            / .beau-portfolio-categories-wrapper
    2-5-5.  Items             / .beau-portfolio-items-wrapper
    2-5-6.  Pagination            / .beau-portfolio-pagination-wrapper
    2-5-7.  Portfolio Detail      / article.beau_portfolio
  2-6. Widgets ( Styles for default WordPress Widgets )
  2-7. Footer                   / #beau-footer
  2-8. Etc  ( Search form, Contact Form 7, MailPoet styles)
3. Shortcodes
  3-1. VC Accordion             / .vc_accordion
  3-2. VC Row                     / .vc_row
  3-3. VC Separator               / .vc_separator
  3-4. Button                   / .beau-button
  3-5. Icon Box                 / .beau-icon-box
  3-6. Image Carousel               / .beau-image-carousel
  3-7. Section Header               / .beau-section-header
  3-8. Social Links               / .beau-social-links
  3-9. Tabs                   / .beau-tabs
  3-10. Team Members              / .beau-team-member
4. Media Queries ( All Responsive Styles belong here )
*/

.p0 {
    padding: 0 !important;
}
.m0 {
    margin: 0 !important;
}

::-webkit-input-placeholder {
   color: red;
}
.pt10 { padding-top: 10px !important; }
.pt20 { padding-top: 20px !important; }
.pt30 { padding-top: 30px !important; }
.pt40 { padding-top: 40px !important; }
.pt50 { padding-top: 50px !important; }
.pt60 { padding-top: 60px !important; }
.pt70 { padding-top: 70px !important; }
.pt80 { padding-top: 80px !important; }
.pb10 { padding-bottom: 10px !important; }
.pb20 { padding-bottom: 20px !important; }
.pb30 { padding-bottom: 30px !important; }
.pb40 { padding-bottom: 40px !important; }
.pb50 { padding-bottom: 50px !important; }
.pb60 { padding-bottom: 60px !important; }
.pb70 { padding-bottom: 70px !important; }
.pb80 { padding-bottom: 80px !important; }

.mt10 { margin-top: 10px !important; }
.mt20 { margin-top: 20px !important; }
.mt30 { margin-top: 30px !important; }
.mt40 { margin-top: 40px !important; }
.mt50 { margin-top: 50px !important; }
.mt60 { margin-top: 60px !important; }
.mt70 { margin-top: 70px !important; }
.mt80 { margin-top: 80px !important; }
.mb10 { margin-bottom: 10px !important; }
.mb20 { margin-bottom: 20px !important; }
.mb30 { margin-bottom: 30px !important; }
.mb40 { margin-bottom: 40px !important; }
.mb50 { margin-bottom: 50px !important; }
.mb60 { margin-bottom: 60px !important; }
.mb70 { margin-bottom: 70px !important; }
.mb80 { margin-bottom: 80px !important; }



.vc_custom_1444472924310 {
    margin-bottom: 0px !important;
    padding-top: 150px !important;
    background-color: #ffffff !important;
}

.vc_custom_1444472817429 {
    margin-bottom: 0px !important;
    padding-top: 85px !important;
    padding-bottom: 100px !important;
    background: #fafafa url(../upload/power-juster-bg4b26.png) !important;
}

.vc_custom_1442816657107 {
    padding-top: 130px !important;
}

.vc_custom_1444644671195 {
    margin-bottom: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 100px !important;
}

.vc_custom_1443156723429 {
    margin-bottom: 0px !important;
}

.vc_custom_1445063376483 {
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
    background-color: #fafbfc !important;
}

.vc_custom_1444469575842 {
    margin-bottom: 0px !important;
}

.vc_custom_1444469592417 {
    margin-bottom: 0px !important;
    padding-top: 60px !important;
    padding-bottom: 60px !important;
    background-color: #2e3036 !important;
}

.vc_custom_1444471800673 {
    margin-bottom: 0px !important;
    padding-top: 140px !important;
    padding-bottom: 80px !important;
    background-color: #ffffff !important;
}

.vc_custom_1444713678151 {
    margin-bottom: 0px !important;
    padding-top: 150px !important;
    background: #f9fafb url(../upload/testimonial-bg.jpg) !important;
}

.vc_custom_1442817239008 {
    margin-bottom: 0px !important;
    padding-top: 140px !important;
    padding-bottom: 70px !important;
}

.vc_custom_1444469876520 {
    margin-bottom: 0px !important;
    padding-top: 130px !important;
    padding-bottom: 150px !important;
    background-color: #f6f7f8 !important;
}

.vc_custom_1444470230220 {
    margin-bottom: 0px !important;
}

.vc_custom_1444470542829 {
    margin-bottom: 0px !important;
}

.vc_custom_1444917045177 {
    margin-top: 5px !important;
    margin-bottom: 10px !important;
}

.vc_custom_1444470535167 {
    margin-bottom: 0px !important;
}

.vc_custom_1443448220621 {
    margin-top: 70px!important;
    margin-bottom:0px!important;
    padding-bottom:0px!important;
    background-color: #f7f8f9!important;
}
.vc_custom_1443438826914{margin-bottom: 50px !important;padding-top: 60px !important;}.vc_custom_1443167429944{padding-bottom: 90px !important;}

.vc_custom_1445068941891{padding-top: 100px !important;background-image: url(../upload/testimonial-bg60f4.jpg) !important;}
.vc_custom_1445068736793{margin-top: 150px !important;}
.vc_custom_1445067840062{margin-top: 150px !important;}
.vc_custom_1445071604291{margin-bottom: 0px !important;padding-top: 140px !important;padding-bottom: 140px !important;background-image: url(../upload/testimonials-bg.jpg) !important;}