.p0 {
    padding: 0 !important;
}
.m0 {
    margin: 0 !important;
}

.pt10 { padding-top: 10px !important; }
.pt20 { padding-top: 20px !important; }
.pt30 { padding-top: 30px !important; }
.pt40 { padding-top: 40px !important; }
.pt50 { padding-top: 50px !important; }
.pt60 { padding-top: 60px !important; }
.pt70 { padding-top: 70px !important; }
.pt80 { padding-top: 80px !important; }
.pb10 { padding-bottom: 10px !important; }
.pb20 { padding-bottom: 20px !important; }
.pb30 { padding-bottom: 30px !important; }
.pb40 { padding-bottom: 40px !important; }
.pb50 { padding-bottom: 50px !important; }
.pb60 { padding-bottom: 60px !important; }
.pb70 { padding-bottom: 70px !important; }
.pb80 { padding-bottom: 80px !important; }

.mt10 { margin-top: 10px !important; }
.mt20 { margin-top: 20px !important; }
.mt30 { margin-top: 30px !important; }
.mt40 { margin-top: 40px !important; }
.mt50 { margin-top: 50px !important; }
.mt60 { margin-top: 60px !important; }
.mt70 { margin-top: 70px !important; }
.mt80 { margin-top: 80px !important; }
.mb10 { margin-bottom: 10px !important; }
.mb20 { margin-bottom: 20px !important; }
.mb30 { margin-bottom: 30px !important; }
.mb40 { margin-bottom: 40px !important; }
.mb50 { margin-bottom: 50px !important; }
.mb60 { margin-bottom: 60px !important; }
.mb70 { margin-bottom: 70px !important; }
.mb80 { margin-bottom: 80px !important; }


.vc_custom_1442396303468 {
    margin-bottom:20px !important;
}
.vc_custom_1442396334525 {
    margin-bottom:0px !important;
}
.vc_custom_1442396362082 {
    padding-top:90px !important;
}
.vc_custom_1442399424037 {
    margin-bottom:0px !important;
}
.vc_custom_1443177757380 {
    padding-top:115px !important;
    padding-bottom:115px !important;
    background-image:url(../upload/shop-adv-banner-1683e.jpg) !important;
}
.vc_custom_1442399592041 {
    padding-top:60px !important;
}
.vc_custom_1442399631545 {
    margin-bottom:0px !important;
}
.vc_custom_1442386413286 {
    margin-bottom:0px !important;
    padding-top:100px !important;
    padding-bottom:100px !important;
    background-color:#f7f8f9 !important;
}
.vc_custom_1442387384072 {
    padding-top:90px !important;
}
.vc_custom_1442387394661 {
    margin-bottom:0px !important;
    padding-bottom:120px !important;
}
.vc_custom_1443179410790 {
    padding-top:100px !important;
    padding-bottom:180px !important;
    background-color:#f7f8f9 !important;
}
.vc_custom_1443175305661 {
    padding-top:40px !important;
}
.vc_custom_1443806393849 {
    margin-bottom:0px !important;
    padding-bottom:0px !important;
    background-color:#252525 !important;
}
.vc_custom_1443008461445 {
    margin-bottom:0px !important;
}
.vc_custom_1443008481385 {
    margin-bottom:0px !important;
}
.vc_custom_1443008504353 {
    margin-bottom:0px !important;
}
.vc_custom_1442410617720 {
    border-top-width:0px !important;
    border-right-width:1px !important;
    border-bottom-width:0px !important;
    border-left-width:0px !important;
    padding-top:10px !important;
    padding-bottom:10px !important;
    border-left-color:#dddddd !important;
    border-left-style:solid !important;
    border-right-color:#dddddd !important;
    border-right-style:solid !important;
    border-top-color:#dddddd !important;
    border-top-style:solid !important;
    border-bottom-color:#dddddd !important;
    border-bottom-style:solid !important;
}
.vc_custom_1442410637735 {
    border-top-width:0px !important;
    border-right-width:1px !important;
    border-bottom-width:0px !important;
    border-left-width:0px !important;
    padding-top:10px !important;
    padding-bottom:10px !important;
    border-left-color:#dddddd !important;
    border-left-style:solid !important;
    border-right-color:#dddddd !important;
    border-right-style:solid !important;
    border-top-color:#dddddd !important;
    border-top-style:solid !important;
    border-bottom-color:#dddddd !important;
    border-bottom-style:solid !important;
}
.vc_custom_1442410654636 {
    border-top-width:0px !important;
    border-right-width:1px !important;
    border-bottom-width:0px !important;
    border-left-width:0px !important;
    padding-top:10px !important;
    padding-bottom:10px !important;
    border-left-color:#dddddd !important;
    border-left-style:solid !important;
    border-right-color:#dddddd !important;
    border-right-style:solid !important;
    border-top-color:#dddddd !important;
    border-top-style:solid !important;
    border-bottom-color:#dddddd !important;
    border-bottom-style:solid !important;
}
.vc_custom_1442410670592 {
    border-top-width:0px !important;
    border-right-width:1px !important;
    border-bottom-width:0px !important;
    border-left-width:0px !important;
    padding-top:10px !important;
    padding-bottom:10px !important;
    border-left-color:#dddddd !important;
    border-left-style:solid !important;
    border-right-color:#dddddd !important;
    border-right-style:solid !important;
    border-top-color:#dddddd !important;
    border-top-style:solid !important;
    border-bottom-color:#dddddd !important;
    border-bottom-style:solid !important;
}
.vc_custom_1442410687829 {
    padding-top:10px !important;
    padding-bottom:10px !important;
}
.vc_custom_1442995338519 {
    margin-bottom:0px !important;
    padding-top:0px !important;
    padding-right:0px !important;
    padding-bottom:0px !important;
    padding-left: 0px !important;
}
.vc_custom_1441794432079 {
    margin-top:0px !important;
    padding-top:134px !important;
}
.vc_custom_1438953193224 {
    margin-bottom:20px !important;
}
.vc_custom_1441793507596 {
    padding-bottom:79px !important;
}
.vc_custom_1438858944608 {
    margin-bottom:0px !important;
}
.vc_custom_1441793531107 {
    padding-top:133px !important;
}
.vc_custom_1441793657790 {
    margin-top:0px !important;
    margin-right:0px !important;
    margin-bottom:0px !important;
    margin-left:0px !important;
    padding-top:0px !important;
    padding-right:0px !important;
    padding-bottom:109px !important;
    padding-left:0px !important;
}
.vc_custom_1444201010863 {
    margin-top:0px !important;
    margin-right:0px !important;
    margin-bottom:0px !important;
    margin-left:0px !important;
    border-top-width:1px !important;
    border-right-width:0px !important;
    border-bottom-width:1px !important;
    border-left-width:0px !important;
    padding-top:0px !important;
    padding-right:0px !important;
    padding-bottom:0px !important;
    padding-left:0px !important;
    border-left-color:#f9f9f9 !important;
    border-left-style:solid !important;
    border-right-color:#f9f9f9 !important;
    border-right-style:solid !important;
    border-top-color:#f9f9f9 !important;
    border-top-style:solid !important;
    border-bottom-color:#f9f9f9 !important;
    border-bottom-style:solid !important;
}
.vc_custom_1442502395453 {
    padding-top:134px !important;
    padding-bottom:81px !important;
}
.vc_custom_1441793802706 {
    margin-bottom:0px !important;
    padding-top:133px !important;
    padding-bottom:145px !important;
    background-color:#f7f8f9 !important;
}
.vc_custom_1442561738909 {
    margin-bottom: 0px !important;
}

.woocommerce .jt-product-style-two.jt-product-boxed ul.products li.product, .woocommerce-page .jt-product-style-two ul.products li.product {
    float: left;
    margin: 0px 10px 30px 0px;
    padding: 0px;
    position: relative;
    width: 265px;
    border: 0px solid #E7E7E7;
}